.menu .title {
  padding: 0 10px;
  background: url(plus.svg) left center no-repeat;
  background-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.menu .list {
  display: none;
  margin: 0;
}

.menu .list a {
  color: blue;
}

.menu.open .list {
  display: block;
}

.menu.open .title {
  background-image: url(minus.svg);
}
